.timer {
    @include flex($dir: column, $justify: center, $align: center);

    &__label {
        margin-top: 20px;
    }
}

.flip {
	position: relative;
	height: $card-size;
	width: $card-size;
    
	&__card {
        // card design
		height: $card-size;
		width: $card-size;
		background-color: $color-dark-desaturated-blue;
		color: $color-primary-soft-red;
        @if $card-size - 7rem > $fallback-min-font-size {
            font-size: calc(#{$card-size} - 7rem);
        } @else {
            font-size: $fallback-min-font-size;
        }
		position: absolute;
		border-radius: 10px;
        
        // card layout
        @include flex($dir: row, $justify: center, $align: center);

        // card animation
        transform-style: preserve-3d;
        backface-visibility: hidden;
	}

    /**** STYLING DIFFERENT CARDS ****/
    &__card--top {
        filter: brightness(80%);
    }

    /**** CLIP PATH FOR STYLING THE CARD ****/
    &__card--prev:not(&__card--top) {
        @include clipPathPolygon(bottom);
    }

    &__card--prev:not(&__card--bottom) {
        @include clipPathPolygon(top);
    }
    
    &__card--next:not(&__card--bottom) {
        @include clipPathPolygon(top);
        // add transform state initially
        transform: rotateX(180deg);
    }

    &__card--next:not(&__card--top) {
        @include clipPathPolygon(bottom);
    }

    /**** ANIMATED STATES ****/
	&.animate &__card--prev:not(&__card--top) {
        transition: transform 1s ease;
		transform: rotateX(180deg);
	}

    &.animate &__card--next:not(&__card--bottom) {
        transition: transform 1s ease;
		transform: rotateX(0deg);
	}
}

.social {
    font-size: 3rem;

    &__icon {
        color: $color-primary-grayish-blue;
    
        &:hover {
            cursor: pointer;
            color: $color-primary-soft-red;
        }
    }
}