.main {
    // size of main container
    width: 100vw;
    height: 100vh;

    // background formatting
    background-image: 
        url('/images/pattern-hills.svg'),
        url('/images/bg-stars.svg')
    ;

    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: bottom, top;
    background-color: $color-very-dark-blue;

    // content layout
    @include flex($dir: column, $align: center, $justify: center);
}