/*********      COLORS       **********/

// Primary
$color-primary-grayish-blue: hsl(237, 18%, 59%);
$color-primary-soft-red: hsl(345, 95%, 68%);


// Neutral
$color-neutral-white: hsl(0, 0%, 100%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-very-dark-blue: hsl(235, 16%, 14%);
$color-very-dark-blue-2: hsl(234, 17%, 12%);

/*********      FONTS       **********/
$font-family-main: 'Red Hat Text';
$font-family-fallback: sans-serif;
$font-size-body: 1.6rem;

/*********      SIZES       **********/
$card-size: 15rem;
$fallback-min-font-size: 5rem;